        .overlay{
            position: relative;
        }
        .overlay .caption{
            width: 100%;
            padding: 0px;
            position: absolute;
            background-color:#899;
            display: block;
            bottom: -15px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        .overlay:hover .caption{
            opacity: 0.8;
        }
        .custom-background{
            background: url(/img/pic.jpg);
            background-size: cover;
        }
        p{
            color: red;
        }
        p:hover{
            color: blue;
        }