        .overlay{
            position: relative;
        }
        .overlay .caption{
            width: 83%;
            padding: 0px;
            position: absolute;
            background-color:#899;
            display: block;
            bottom: -1rem;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            color: black;
            cursor: pointer;
        }
        .caption-big{
            width: 89% !important;
        }
        .overlay:hover .caption{
            opacity: 0.8;
        }
        .custom-background{
            background: url(/img/tlo.jpg);
            background-size: cover;
        }
        .pic-description{
            font-size: 0.6rem;
        }
        .menu-item{
            font-size:0.8rem;
            padding-right: 0.6rem;
            padding-left: 0.6rem;
            width: 100%;
        }
        .home-icon{
            font-size: 0.8rem;
            margin-right: 0rem;
        }
        .color-black{
            color: black;
        }
        .pointer{
            transition: ease-in-out 0.2s scale;
        }
        .pointer:hover{
            cursor: pointer;
            color: red;
            transform: scale(1.2);
        }
        .font_1_25{
            font-size: 1.25rem;
        }
        .n5_margin_top{
            margin-top: -5rem;
        }
