<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AminoAcidsApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<div class="container custom-background">
    <a class ="d-none" href="http://www.freepik.com">Designed by starline / Freepik</a>

    <div class="row mx-4 py-3 bg-dark" >
        <div class="col-sm-9 col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand home-icon" href="/"><i class="bi bi-house"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-items-center" id="navbar">
                    <ul class="navbar-nav px-3 w-100 text-center">
                        <li class="nav-item mr-2 text-white menu-item font-weight-bold"><i
                                class="bi bi-basket"></i><span class="ml-1">Skomponuj
                            posiłek</span></li>
                        <li class="nav-item mr-2 text-white menu-item font-weight-bold"><a
                                th:href="@{/commonIngredients}">
                            <i class="bi bi-list-columns"></i><span class="ml-1">Przegląd składników</span></a></li>
                        <li class="nav-item mr-2 text-white menu-item font-weight-bold"><i
                                class="bi bi-folder2-open"></i><span class="ml-1">Zapisane posiłki</span></li>
                        <li class="nav-item mr-2 text-white menu-item font-weight-bold"><i
                                class="bi bi-graph-up-arrow"></i><span class="ml-1">Dane statystyczne</span></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-sm-3 text-right d-none d-md-block">
            <button class="btn btn-primary">Zaloguj się</button>
            <button class="btn btn-primary">Zarejestruj się</button>
        </div>
        <div class="col-xs-12 w-100 mx-2 d-block d-md-none">
            <button class="btn btn-primary w-100 mb-2">Zaloguj się</button>
            <button class="btn btn-primary w-100 ">Zarejestruj się</button>
        </div>
    </div>


    <main>
        <div class="container px-5">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="ingredientPicker"></label>
                    <select class="form-control" id="ingredientPicker">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="col-sm-12" >
                    <div class="row" id="summaryContainer"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="chartContainer">
                    <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    $(document).ready(function() {
        var ingredients;
        const response = fetch('/commonIngredients/getAll').then( (response) => {
                const contentType = response.headers.get('content-type');
                if(response.ok && contentType.includes('application/json')){
                    return response.json();
                }
            }).then((json) => {
                ingredients = json;
                prepareSummary(json[0]);
                prepareChart(json[0]);
                $('#ingredientPicker').html(createList(json));
                $('#ingredientPicker').change(function() {
                    var value = $("select option:selected").val();
                    prepareSummary(json[value]);
                    prepareChart(json[value]);
                });
            });

        function prepareSummary(ingredient) {
            var innerHtml = '<div class=\"col-sm-12 text-center px-3 my-2\"><h2>Podsumowanie dla 100g wybranego \
            składnika</h2></div>';
            innerHtml += '<div class=\"col-sm-6\"> Zawartość kaloryczna: ' + ingredient.energy + 'kcal</div>';
            innerHtml += '<div class=\"col-sm-6\"> Ilość białka: ' + ingredient.protein + 'g</div>';
            innerHtml += '<div class=\"col-sm-6\"> Ilość węglowodanów: ' + ingredient.carbs + 'g</div>';
            innerHtml += '<div class=\"col-sm-6\"> Ilość tłuszczu: ' + ingredient.fat + 'g</div>';
            $('#summaryContainer').html(innerHtml);
        }

        function prepareChart(ingredient) {
            $('canvas#chart').remove();
            $('#chartContainer').append('<canvas id="chart"></canvas>');
             const labels = [
                'Izoleucyna',
                'Leucyna',
                'Lizyna',
                'Metionina',
                'Cysteina',
                'Fenyloalanina',
                'Tyrozyna',
                'Treonina',
                'Tryptofan',
                'Walina',
                'Histydyna'
              ];

              const data = {
                labels: labels,
                datasets: [{
                  label: 'Zawartość aminokwasów mg/100g',
                  backgroundColor: 'rgb(255, 99, 132)',
                  borderColor: 'rgb(255, 99, 132)',
                  data: [ingredient.isoleucine, ingredient.leucine, ingredient.lysine, ingredient.methionine,
                  ingredient.cysteine, ingredient.phenylalanine, ingredient.tyrosine, ingredient.threonine,
                  ingredient.tryptophan, ingredient.valine, ingredient.histidine],
                }]
              };

              const config = {
                type: 'bar',
                data: data,
                options: {}
              };

               const myChart = new Chart(
                document.getElementById('chart'),
                config
              );
        }

        function createList(json) {
            let htmlPrepared;
            json.forEach( option => {
                htmlPrepared += '<option value="' + option.id + '">' + option.name + '</option>';
            });
            return htmlPrepared;
        }
    });
</script>
</body>
</html>