<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="navbar-copy">
    <div class="col-sm-9 col-xs-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand home-icon" href="/"><i class="bi bi-house"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse align-items-center" id="navbar">
                <ul class="navbar-nav px-3 w-100 text-center">
                    <li class="nav-item text-white menu-item font-weight-bold">
                        <a class="text-white" th:href="@{/composeMeal}">
                            <i class="bi bi-basket"></i>
                            <span class="ml-1">Skomponuj posiłek</span>
                        </a>
                    </li>
                    <li class="nav-item text-white menu-item font-weight-bold">
                        <a class="text-white" th:href="@{/commonIngredients}">
                            <i class="bi bi-list-columns"></i>
                            <span class="ml-1">Przegląd składników</span>
                        </a>
                    </li>
                    <li class="nav-item text-white menu-item font-weight-bold">
                        <a class="text-white" th:href="@{savedMeals}">
                            <i class="bi bi-folder2-open"></i>
                            <span class="ml-1">Zapisane posiłki</span>
                        </a>
                    </li>
                    <li class="nav-item text-white menu-item font-weight-bold">
                        <a>
                            <i class="bi bi-graph-up-arrow"></i>
                            <span class="ml-1">Dane statystyczne</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-sm-3 text-right d-none d-md-block">
        <a class="btn btn-primary" th:href="@{/login}">Zaloguj się</a>
        <button class="btn btn-primary">Zarejestruj się</button>
    </div>
    <div class="col-xs-12 w-100 mx-2 d-block d-md-none">
        <a class="btn btn-primary w-100 mb-2" th:href="@{/login}">Zaloguj się</a>
        <button class="btn btn-primary w-100 ">Zarejestruj się</button>
    </div>
</div>

</body>

</html>